# Build the materials and bush to build branch
name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Push
    steps:
      - name: git-checkout
        uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install nbformat nbstripout

      - name: Build
        run: |
          make                                    # Build the exercises and challenges
          mkdir build                             # Collect the build
          cp -r challenges_assignment build/.
          cp -r exercises_assignment build/.
          cp check_install.ipynb build/.
          cp requirements.txt build/.
          cp README.md build/.
    
      - name: Push
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: build
          FOLDER: build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Build: ({sha}) {msg}"
